@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

body {
    margin: 60px;
    font-family: Helvetica, sans-serif;
}

p {
    margin-bottom: 20px;
}

a {
    display: block;
    width: fit-content;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 4px;
}

.green {
    background: #008400;
}

.orange {
    background: #ff8600;
}

i {
    padding-right: 5px;
}
